= render "shared/header"
.item-show
  .item-box
    %h2.name
      = @item.name
    .item-img-content
      = image_tag @item.image ,class:"item-box-img"
      -if @item.order.present?
        .sold-out
          %span Sold Out!!
    .item-price-box
      %span.item-price
        = @item.price
        円
      %span.item-postage
        = @item.shipping_charges.name
    - if user_signed_in? && @item.user_id == current_user.id
      = link_to '商品の編集',edit_item_path(@item.id) , method: :get, class: "item-red-btn"
      %p.or-text or
      = link_to '削除', item_path, method: :delete, class:'item-destroy'
    - else
    - if @item.order.present? || @item.user_id == current_user.id
      売り切れました。
    - elsif user_signed_in?
      = link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn"
   

        
    .item-explain-box
      %span= @item.info
    %table.detail-table
      %tbody
        %tr
          %th.detail-item 出品者
          %td.detail-value= @item.user.nickname
        %tr
          %th.detail-item カテゴリー
          %td.detail-value= @item.category.name
        %tr
          %th.detail-item 商品の状態
          %td.detail-value= @item.product_status.name
        %tr
          %th.detail-item 配送料の負担
          %td.detail-value= @item.shipping_charges.name
        %tr
          %th.detail-item 発送元の地域
          %td.detail-value= @item.shipping_region.name
        %tr
          %th.detail-item 発送日の目安
          %td.detail-value= @item.days_shipping.name
    .option
      .favorite-btn
        = image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"
        %span お気に入り 0
      .report-btn
        = image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"
        %span 不適切な商品の通報
  .comment-box
    %form
      %textarea.comment-text
      %p.comment-warn
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.comment-btn{:type => "submit"}
        = image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"
        %span
          コメントする
          %span
  .links
    = link_to "#",class:"change-item-btn" do
      ＜ 前の商品
    = link_to "#", class:"change-item-btn"do
      後ろの商品 ＞
    = link_to "#", class:"another-item" do
      = "商品のカテゴリー名" 
      をもっと見る
= render "shared/footer"
